@{
	ViewBag.Title = "Checkout";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- .content -->
<div class="content">
	<div class="container">

			<div id="checkoutCart" class="well">
			</div>

			<script type="text/javascript">
			$.ajax({
				url: '/Checkout/ShowCart',
				success: function (result) {
					$('#checkoutCart').html(result);
				},
				error: function (jqXHR, textStatus, errorThrown) {
					alert("An error has occured: " + errorThrown);
				}
			});
			</script>

			<div class="well">
				<span class="checkoutTitle">Order Details</span>

				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="email">Email</label>
						<div class="controls">
							<input type="text" id="email">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="fullname">Fullname</label>
						<div class="controls">
							<input type="text" id="fullname">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="telephone">Telephone</label>
						<div class="controls">
							<input type="text" id="telephone">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="address">Address</label>
						<div class="controls">
							<input type="text" id="address">
							<span class="help-inline"></span>
						</div>
					</div>

					<hr />

					<div class="control-group">
						<label class="control-label" for="cbxReceiver">Receiver Address</label>
						<div class="controls">
							<input type="checkbox" id="cbxReceiver">							
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="receiverEmail">Receiver Email</label>
						<div class="controls">
							<input type="text" id="receiverEmail">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="receiverFullname">Receiver Name</label>
						<div class="controls">
							<input type="text" id="receiverFullname">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="receiverTelephone">Receiver Telephone</label>
						<div class="controls">
							<input type="text" id="receiverTelephone">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="receiverAddress">Receiver Address</label>
						<div class="controls">
							<input type="text" id="receiverAddress">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="form-actions">
						<button class="btn-large btn-red " style="width:220px;">Submit Order</button>
					</div>

				</form>

			</div><!--/ well -->

	</div>
	<!--/ container -->
</div>
<!--/ content -->
