@{
	ViewBag.Title = "Checkout";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- .content -->
<div class="content">
	<div class="container">

			<div id="checkoutCart" class="well">
			</div>

			<script type="text/javascript">
			$.ajax({
				url: '/Checkout/ShowCart',
				success: function (result) {
					$('#checkoutCart').html(result);
				},
				error: function (jqXHR, textStatus, errorThrown) {
					alert("An error has occured: " + errorThrown);
				}
			});
			</script>

			<div class="well">
				<span class="checkoutTitle">Order Details</span>

				<form id="formCheckout" class="form-horizontal" method="POST" action="#">
					<div class="control-group">
						<label class="control-label" for="email">Email</label>
						<div class="controls">
							<input type="text" id="email" name="contact.email">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="fullname">Fullname</label>
						<div class="controls">
							<input type="text" id="fullname" name="contact.fullname">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="telephone">Telephone</label>
						<div class="controls">
							<input type="text" id="telephone" name="contact.telephone">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="address">Address</label>
						<div class="controls">
							<input type="text" id="address" name="contact.address">
							<span class="help-inline"></span>
						</div>
					</div>

					<hr />

					<div class="control-group">
						<label class="control-label" for="cbxReceiver">Receiver Address</label>
						<div class="controls">
							<input type="checkbox" id="cbxReceiver">							
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="receiver_email">Receiver Email</label>
						<div class="controls">
							<input type="text" id="receiver_email" name="order.receiver_email">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="receiver_fullname">Receiver Name</label>
						<div class="controls">
							<input type="text" id="receiver_fullname" name="order.receiver_fullname">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="receiver_telephone">Receiver Telephone</label>
						<div class="controls">
							<input type="text" id="receiver_telephone" name="order.receiver_telephone">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="receiver_address">Receiver Address</label>
						<div class="controls">
							<input type="text" id="receiver_address" name="order.receiver_address">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn-large btn-red " style="width: 220px;">Submit Order</button>
						</div>
					</div>

				</form>

			</div><!--/ well -->

	</div>
	<!--/ container -->
</div>
<!--/ content -->

<script type="text/javascript">

	$('#formCheckout').validate({
		rules: {
			'contact.fullname': "required",
			'contact.email': {
				required: true,
				email: true
			},
			'contact.telephone': {
				required: true,
				minlength: 10,
				number: true
			},
			'contact.address': {
				required: true
			},
			'order.receiver_email': {
				email: true
			},
			'order.receiver_telephone': {
				minlength: 10,
				number: true
			},
			'order.receiver_address': {
				required: true
			}
		},
		messages: {
			'contact.fullname': "You have to enter your fullname.",
			'contact.email': {
				required: "We need your email address to contact you.",
				email: "Your email address must be in the format of name@domain.com."
			},
			'contact.telephone': {
				required: "We need your telephone number to contact you.",
				minlength: jQuery.format("Your telephone number must be at least {0} digits."),
				number: "Your telephone number must be all digits."
			},
			'contact.address': {
				required: "You have to enter your address."
			},
			'order.receiver_telephone': {
				minlength: jQuery.format("Receiver's telephone number must be at least {0} digits."),
				number: "Receiver's telephone number must be all digits."
			},
			'order.receiver_address': {
				required: "You have to enter receiver's address."
			},
			'order.receiver_email': {
				required: "Receiver's email address must be in the format of name@domain.com."
			}
		},
		errorPlacement: function (error, element) {
			error.appendTo(element.next('span.help-inline'));
		},
		validClass: 'success'
	});

	if ($('#cbxReceiver').is(':checked')) {
		$('#receiver_email').attr('disabled', 'disabled');
		$('#receiver_fullname').attr('disabled', 'disabled');
		$('#receiver_address').attr('disabled', 'disabled');
		$('#receiver_telephone').attr('disabled', 'disabled');
	}

	$('#cbxReceiver').change(function () {
		if ($(this).is(':checked')) {
			$('#receiver_email').attr('disabled', 'disabled');
			$('#receiver_fullname').attr('disabled', 'disabled');
			$('#receiver_address').attr('disabled', 'disabled');
			$('#receiver_telephone').attr('disabled', 'disabled');

			$('#receiver_email').val($('#email').val());
			$('#receiver_fullname').val($('#fullname').val());
			$('#receiver_telephone').val($('#telephone').val());
			$('#receiver_address').val($('#address').val());
		} else {
			$('#receiver_email').removeAttr('disabled');
			$('#receiver_fullname').removeAttr('disabled');
			$('#receiver_address').removeAttr('disabled');
			$('#receiver_telephone').removeAttr('disabled');
		}
	});

	$('#email').change(function () {
		if ($('#cbxReceiver').is(':checked')) {
			$('#receiver_email').val($(this).val());
		}
	});

	$('#fullname').change(function () {
		if ($('#cbxReceiver').is(':checked')) {
			$('#receiver_fullname').val($(this).val());
		}
	});

	$('#telephone').change(function () {
		if ($('#cbxReceiver').is(':checked')) {
			$('#receiver_telephone').val($(this).val());
		}
	});

	$('#address').change(function () {
		if ($('#cbxReceiver').is(':checked')) {
			$('#receiver_address').val($(this).val());
		}
	});
</script>
