@{
	ViewBag.Title = "Checkout";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- .content -->
<div class="content">
	<div class="container">

			<div id="checkoutCart" class="well">
			</div>

			<script type="text/javascript">
			$.ajax({
				url: '/Checkout/ShowCart',
				success: function (result) {
					$('#checkoutCart').html(result);
				},
				error: function (jqXHR, textStatus, errorThrown) {
					alert("An error has occured: " + errorThrown);
				}
			});
			</script>

			<div class="well">
				<span class="checkoutTitle">Order Details</span>

				<form id="formCheckout" class="form-horizontal" method="POST" action="#">
					<div class="control-group">
						<label class="control-label" for="email">Email</label>
						<div class="controls">
							<input type="text" id="email" name="email">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="fullname">Fullname</label>
						<div class="controls">
							<input type="text" id="fullname" name="fullname">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="telephone">Telephone</label>
						<div class="controls">
							<input type="text" id="telephone" name="telephone">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="address">Address</label>
						<div class="controls">
							<input type="text" id="address" name="address">
							<span class="help-inline"></span>
						</div>
					</div>

					<hr />

					<div class="control-group">
						<label class="control-label" for="cbxReceiver">Receiver Address</label>
						<div class="controls">
							<input type="checkbox" id="cbxReceiver">							
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="receiver_email">Receiver Email</label>
						<div class="controls">
							<input type="text" id="receiver_email" name="receiver_email">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="receiver_fullname">Receiver Name</label>
						<div class="controls">
							<input type="text" id="receiver_fullname" name="receiver_fullname">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="receiver_telephone">Receiver Telephone</label>
						<div class="controls">
							<input type="text" id="receiver_telephone" name="receiver_telephone">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="receiver_address">Receiver Address</label>
						<div class="controls">
							<input type="text" id="receiver_address" name="receiver_address">
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn-large btn-red " style="width: 220px;">Submit Order</button>
						</div>
					</div>

				</form>

			</div><!--/ well -->

	</div>
	<!--/ container -->
</div>
<!--/ content -->

<script type="text/javascript">

	$('#formCheckout').validate({
		rules: {
			'fullname': "required",
			'email': {
				required: true,
				email: true
			},
			'telephone': {
				required: true,
				minlength: 10,
				number: true
			},
			'address': {
				required: true
			},
			'receiver_email': {
				email: true
			},
			'receiver_telephone': {
				minlength: 10,
				number: true
			},
			'receiver_address': {
				required: true
			}
		},
		messages: {
			'fullname': "You have to enter your fullname.",
			'email': {
				required: "We need your email address to contact you.",
				email: "Your email address must be in the format of name@domain.com."
			},
			'telephone': {
				required: "We need your telephone number to contact you.",
				minlength: jQuery.format("Your telephone number must be at least {0} digits."),
				number: "You telephone number must be all digits."
			},
			'address': {
				required: "You have to enter your address."
			}
		},
		errorPlacement: function (error, element) {
			error.appendTo(element.next('span.help-inline'));
		},
		validClass: 'success'
	});
</script>
