@{
	ViewBag.Title = "About Us";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- .content -->
<div class="content">
	<div class="container">
		
		<h1>About Us</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet vulputate pharetra. Nullam sit amet tellus sagittis, aliquam nisi id, rhoncus velit. Nulla mattis a ligula a varius. Integer ipsum lorem, rhoncus eu adipiscing pellentesque, volutpat eget purus. Proin ut ante bibendum, dictum eros eget, semper lacus. 
			
		<p>Praesent eleifend, sapien in malesuada placerat, nibh leo dapibus turpis, a volutpat felis dolor eu augue. Aliquam in cursus dolor. Suspendisse facilisis enim at ligula fermentum dapibus. Sed ullamcorper laoreet dignissim. Nam mollis tincidunt urna, vitae blandit nibh imperdiet at. Etiam interdum lobortis velit. Cras pellentesque posuere enim ac pharetra.</p>

		<p>Cras imperdiet felis at sapien varius sollicitudin. Fusce sit amet turpis id augue lobortis suscipit sit amet sit amet orci. Quisque nisi libero, rhoncus at rhoncus a, convallis id nibh. Donec ornare sed elit vel pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> 

		<ul>
			<li>Address: 123 Mauris Tincidunt</li>
			<li>Telephone: +012 345678</li>
			<li>Fax: +087 654321</li>
			<li>Email: contact@email.com</li>
		</ul>
		

	</div>
	<!--/ container -->
</div>
<!--/ content -->
