@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- jumbotron -->
<div class="jumbotron">
	<div class="container">
		<div class="container-fluid">
			<div class="row-fluid">

				<div class="span7">
					<h2 class="font-bold">Technology you can trust</h2>
					<span class="subtitle">Get the best deals here.</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.   </p>
					<button class="btn-red btn-large">More Info</button>
				</div>

				<div class="span5">
					<img src="../../Resources/img/feature.png" class="pull-right" />
				</div>

			</div>
			<!--/ row-fluid -->
		</div>
		<!--/ container-fluid -->
	</div>
	<!--/ container -->
</div>
<!--/ jumbotron -->

<!-- content -->
<div class="content">
	<div class="container">
		<div class="container-fluid">

			<!-- row-categories -->
			<div class="row-fluid row-categories">
				<div class="">
					<img src="../Resources/img/apple.jpg" />
					<h6>Apple</h6>
					<button class="btn-red btn-large">More Info</button>
				</div>
				<div class="">
					<img src="../Resources/img/android.jpg" />
					<h6>Android</h6>
					<button class="btn-red btn-large">More Info</button>
				</div>
				<div class="">
					<img src="../Resources/img/windows_phone.jpg" />
					<h6>Windows Phone</h6>
					<button class="btn-red btn-large">More Info</button>
				</div>
				<div class="">
					<img src="../Resources/img/blackberry.jpg" />
					<h6>Blackberry</h6>
					<button class="btn-red btn-large">More Info</button>
				</div>
				<div class="">
					<img src="../Resources/img/accessory.jpg" />
					<h6>Accessories</h6>
					<button class="btn-red btn-large">More Info</button>
				</div>
			</div>
			<!--/ row-categories -->

			<!-- row-products -->
			<div class="row row-products">
				<a href="#" class="clearfix">
					<h3><span class="font-red">Special</span> Deals</h3>
					<span>View more&nbsp;&raquo; </span>
				</a>
				<div class="product-box">
					<a href="#">
						<img src="../Resources/products/apple-4397-74964-1-catalog.jpg" />
						Apple iPad 4 (with Retina display) - 32GB / Wifi / White
							<span class="old-product-price">681.5 $</span>
						<span class="product-price">634.453 $</span>
						<span class="product-discount-rate">-7 %</span>
					</a>
					<button class="btn-red btn-large">Add to Cart</button>
				</div>
				<div class="product-box">
					<a href="#">
						<img src="../Resources/products/samsung-3642-11236-1-catalog.jpg" />
						Samsung Galaxy S4 (i9500) - Full HD 4.99'' / 13MP / 16GB / White
							<span class="old-product-price">715.763 $</span>
						<span class="product-price">704.953 $</span>
						<span class="product-discount-rate">-2 %</span>
					</a>
					<button class="btn-red btn-large">Add to Cart</button>
				</div>
				<div class="product-box">
					<a href="#">
						<img src="../Resources/products/blackberry-2662-56776-1-catalog.jpg" />
						BlackBerry Z10 - LCD 4.2'' / 8MP / 16GB / Black
							<span class="old-product-price">728.5 $</span>
						<span class="product-price">633.513 $</span>
						<span class="product-discount-rate">-13 %</span>
					</a>
					<button class="btn-red btn-large">Add to Cart</button>
				</div>
				<div class="product-box">
					<a href="#">
						<img src="../Resources/products/nokia-7194-07184-1-catalog.jpg" />
						Nokia Lumia 620 - TFT 3.8'' / 5MP / 8GB / Black
							<span class="old-product-price">246.7 $</span>
						<span class="product-price">225.553 $</span>
						<span class="product-discount-rate">-9 %</span>
					</a>
					<button class="btn-red btn-large">Add to Cart</button>
				</div>
			</div>
			<!--/ row-products -->

			<!-- row-products -->
			<div class="row row-products">
				<a href="#" class="clearfix">
					<h3><span class="font-red">Best</span> Sellers</h3>
					<span>View more&nbsp;&raquo; </span>
				</a>
				<div class="product-box">
					<a href="#">
						<img src="../Resources/products/apple-4397-74964-1-catalog.jpg" />
						Apple iPad 4 (with Retina display) - 32GB / Wifi / White
							<span class="old-product-price">681.5 $</span>
						<span class="product-price">634.453 $</span>
						<span class="product-discount-rate">-7 %</span>
					</a>
					<button class="btn-red btn-large">Add to Cart</button>
				</div>
				<div class="product-box">
					<a href="#">
						<img src="../Resources/products/samsung-3642-11236-1-catalog.jpg" />
						Samsung Galaxy S4 (i9500) - Full HD 4.99'' / 13MP / 16GB / White
							<span class="old-product-price">715.763 $</span>
						<span class="product-price">704.953 $</span>
						<span class="product-discount-rate">-2 %</span>
					</a>
					<button class="btn-red btn-large">Add to Cart</button>
				</div>
				<div class="product-box">
					<a href="#">
						<img src="../Resources/products/blackberry-2662-56776-1-catalog.jpg" />
						BlackBerry Z10 - LCD 4.2'' / 8MP / 16GB / Black
							<span class="old-product-price">728.5 $</span>
						<span class="product-price">633.513 $</span>
						<span class="product-discount-rate">-13 %</span>
					</a>
					<button class="btn-red btn-large">Add to Cart</button>
				</div>
				<div class="product-box">
					<a href="#">
						<img src="../Resources/products/nokia-7194-07184-1-catalog.jpg" />
						Nokia Lumia 620 - TFT 3.8'' / 5MP / 8GB / Black
							<span class="old-product-price">246.7 $</span>
						<span class="product-price">225.553 $</span>
						<span class="product-discount-rate">-9 %</span>
					</a>
					<button class="btn-red btn-large">Add to Cart</button>
				</div>
			</div>
			<!--/ row-products -->

			<!-- row-products -->
			<div class="row row-products">
				<a href="#" class="clearfix">
					<h3><span class="font-red">New</span> Arrivals</h3>
					<span>View more&nbsp;&raquo; </span>
				</a>
				<div class="product-box">
					<a href="#">
						<img src="../Resources/products/apple-4397-74964-1-catalog.jpg" />
						Apple iPad 4 (with Retina display) - 32GB / Wifi / White
							<span class="old-product-price">681.5 $</span>
						<span class="product-price">634.453 $</span>
						<span class="product-discount-rate">-7 %</span>
					</a>
					<button class="btn-red btn-large">Add to Cart</button>
				</div>
				<div class="product-box">
					<a href="#">
						<img src="../Resources/products/samsung-3642-11236-1-catalog.jpg" />
						Samsung Galaxy S4 (i9500) - Full HD 4.99'' / 13MP / 16GB / White
							<span class="old-product-price">715.763 $</span>
						<span class="product-price">704.953 $</span>
						<span class="product-discount-rate">-2 %</span>
					</a>
					<button class="btn-red btn-large">Add to Cart</button>
				</div>
				<div class="product-box">
					<a href="#">
						<img src="../Resources/products/blackberry-2662-56776-1-catalog.jpg" />
						BlackBerry Z10 - LCD 4.2'' / 8MP / 16GB / Black
							<span class="old-product-price">728.5 $</span>
						<span class="product-price">633.513 $</span>
						<span class="product-discount-rate">-13 %</span>
					</a>
					<button class="btn-red btn-large">Add to Cart</button>
				</div>
				<div class="product-box">
					<a href="#">
						<img src="../Resources/products/nokia-7194-07184-1-catalog.jpg" />
						Nokia Lumia 620 - TFT 3.8'' / 5MP / 8GB / Black
							<span class="old-product-price">246.7 $</span>
						<span class="product-price">225.553 $</span>
						<span class="product-discount-rate">-9 %</span>
					</a>
					<button class="btn-red btn-large">Add to Cart</button>
				</div>
			</div>
			<!--/ row-products -->

			<div class="row-fluid">
				<div class="span6 feature-box">
					<img src="../Resources/img/best_sellers.jpg" class="pull-right" />
					<h4><span class="font-red">Best</span> Sellers</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</p>
				</div>
				<div class="span6 feature-box">
					<img src="../Resources/img/new_arrivals.jpg" class="pull-right" />
					<h4><span class="font-red">New</span> Arrivals</h4>
					<p>
						Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span6 feature-box">
					<img src="../Resources/img/deals.jpg" class="pull-right" />
					<h4><span class="font-red">Deals</span></h4>
					<p>
						Consectetur adipisicing elit.
					</p>
				</div>
				<div class="span6 feature-box">
					<img src="../Resources/img/help_center.jpg" class="pull-right" />
					<h4><span class="font-red">Help</span> Center</h4>
					<p>
						Eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>

		</div>
		<!--/ container-fluid -->
	</div>
	<!--/ container -->
</div>
<!--/ content -->
